<div class="footer-wrapper">
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - @Options.Instance.GameName - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
</div>