<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @Options.Instance.GameName</title>

    <environment include="Development">
        <!--link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/-->
        <link rel="stylesheet" href="~/css/theme.css"/>
        <link rel="stylesheet" href="~/css/index.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
              integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"
              asp-fallback-href="~/Identity/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true"/>
    </environment>

    <script>
    	const root = document.documentElement;
    	const theme = localStorage.getItem("theme");
    	if (
    		theme === "dark" ||
    		(!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
    	) {
    		root.classList.add("theme-dark");
    	} else {
    		root.classList.remove("theme-dark");
    	}
    </script>

    @await RenderSectionAsync("Styles", false)
</head>
<body>
<partial name="_SkipToContentPartial"/>
<div class="page-wrapper">
    <partial name="_Header"/>
    <div class="content-wrapper">
        <aside id="sidebar-left" class="sidebar left">
        </aside>
        <aside id="sidebar-right" class="sidebar right">
        </aside>
        <main class="content">
            @RenderBody()
        </main>
    </div>
    <partial name="_Footer"/>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>