@using Intersect.Server.Database.PlayerData
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<ul class="horizontal" style="flex: initial;">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>